ARSWpfApp/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ARSWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ARSWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertUser" nillable="true" type="tns:InsertUser" />
  <xs:complexType name="InsertFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EconomyClassPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstClassPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatingCapacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertFlight" nillable="true" type="tns:InsertFlight" />
  <xs:complexType name="InsertSeat">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertSeat" nillable="true" type="tns:InsertSeat" />
</xs:schema>